In [1]:
import pandas as pd

### Load Stock Data From Yahoo Finance

In [2]:
stock_df = pd.read_csv('All Stock.csv')
stock_df[stock_df['Data'] > '2019-01-01']

,Data,Open,Close,Adj Close,Company,Industry,Stock ticker
1006,2019-01-02,153.529999,157.199997,151.025879,Linde plc,Basic Materials,LIN
1007,2019-01-03,154.059998,152.289993,146.308685,Linde plc,Basic Materials,LIN
1008,2019-01-04,153.830002,156.630005,150.478256,Linde plc,Basic Materials,LIN
1009,2019-01-07,155.779999,156.490005,150.343765,Linde plc,Basic Materials,LIN
1010,2019-01-08,156.089996,158.149994,151.938553,Linde plc,Basic Materials,LIN
...,...,...,...,...,...,...,...
49018,2019-12-23,20.950001,21.200001,19.417809,Kinder Morgan,Energy,KMI
49019,2019-12-24,21.180000,21.129999,19.353691,Kinder Morgan,Energy,KMI
49020,2019-12-26,21.190001,21.200001,19.417809,Kinder Morgan,Energy,KMI
49021,2019-12-27,21.260000,21.080000,19.307896,Kinder Morgan,Energy,KMI
49022,2019-12-30,21.100000,21.030001,19.262100,Kinder Morgan,Energy,KMI

In [3]:
# calculate arithmetic return
stock_df = stock_df.rename(columns={'Data':'date'})
stock_df['daily return'] = (stock_df['Close'] - stock_df['Open']) / stock_df['Open'] 
stock_df[stock_df['date'] > '2019-01-01']

,date,Open,Close,Adj Close,Company,Industry,Stock ticker,daily return
1006,2019-01-02,153.529999,157.199997,151.025879,Linde plc,Basic Materials,LIN,0.023904
1007,2019-01-03,154.059998,152.289993,146.308685,Linde plc,Basic Materials,LIN,-0.011489
1008,2019-01-04,153.830002,156.630005,150.478256,Linde plc,Basic Materials,LIN,0.018202
1009,2019-01-07,155.779999,156.490005,150.343765,Linde plc,Basic Materials,LIN,0.004558
1010,2019-01-08,156.089996,158.149994,151.938553,Linde plc,Basic Materials,LIN,0.013198
...,...,...,...,...,...,...,...,...
49018,2019-12-23,20.950001,21.200001,19.417809,Kinder Morgan,Energy,KMI,0.011933
49019,2019-12-24,21.180000,21.129999,19.353691,Kinder Morgan,Energy,KMI,-0.002361
49020,2019-12-26,21.190001,21.200001,19.417809,Kinder Morgan,Energy,KMI,0.000472
49021,2019-12-27,21.260000,21.080000,19.307896,Kinder Morgan,Energy,KMI,-0.008467
49022,2019-12-30,21.100000,21.030001,19.262100,Kinder Morgan,Energy,KMI,-0.003317

### Load and merge scores data from NYT

In [4]:
nyt_df = pd.read_csv('nyt_scores.csv')
nyt_df

            date   nyt_pol   nyt_sub
0     2015-01-01  0.045455  0.149134
1     2015-01-02  0.072037  0.321540
2     2015-01-03  0.059295  0.465729
3     2015-01-04  0.118750  0.608333
4     2015-01-05  0.181212  0.396078
...          ...       ...       ...
1813  2019-12-26  0.125000  0.329167
1814  2019-12-27  0.075000  0.410417
1815  2019-12-29  0.177020  0.365993
1816  2019-12-30  0.067532  0.322727
1817  2019-12-31  0.128561  0.309508

[1818 rows x 3 columns]

In [5]:
# NYT scores are not separated by stock tickers
stock_nyt_left = pd.merge(left=stock_df, right=nyt_df, how ='left',left_on='date', right_on='date')
stock_nyt_left

,date,Open,Close,Adj Close,Company,Industry,Stock ticker,daily return,nyt_pol,nyt_sub
0,2015-01-02,129.639999,129.949997,113.439125,Linde plc,Basic Materials,LIN,0.002391,0.072037,0.321540
1,2015-01-05,128.820007,126.519997,110.444939,Linde plc,Basic Materials,LIN,-0.017854,0.181212,0.396078
2,2015-01-06,126.199997,124.900002,109.030746,Linde plc,Basic Materials,LIN,-0.010301,0.066854,0.361403
3,2015-01-07,125.870003,126.300003,110.252884,Linde plc,Basic Materials,LIN,0.003416,0.105118,0.358165
4,2015-01-08,127.889999,128.380005,112.068611,Linde plc,Basic Materials,LIN,0.003831,0.083550,0.307433
...,...,...,...,...,...,...,...,...,...,...
49018,2019-12-23,20.950001,21.200001,19.417809,Kinder Morgan,Energy,KMI,0.011933,0.144016,0.354293
49019,2019-12-24,21.180000,21.129999,19.353691,Kinder Morgan,Energy,KMI,-0.002361,0.141380,0.359756
49020,2019-12-26,21.190001,21.200001,19.417809,Kinder Morgan,Energy,KMI,0.000472,0.125000,0.329167
49021,2019-12-27,21.260000,21.080000,19.307896,Kinder Morgan,Energy,KMI,-0.008467,0.075000,0.410417
49022,2019-12-30,21.100000,21.030001,19.262100,Kinder Morgan,Energy,KMI,-0.003317,0.067532,0.322727

### Load and merge scores data from Twitter

In [6]:
# filtering by 2019
df_2019 = stock_nyt_left[stock_nyt_left['date'].str.slice(0,4)=='2019']
df_2019 = df_2019.reset_index().drop(columns = ['index'])
df_2019

,date,Open,Close,Adj Close,Company,Industry,Stock ticker,daily return,nyt_pol,nyt_sub
0,2019-01-02,153.529999,157.199997,151.025879,Linde plc,Basic Materials,LIN,0.023904,0.065703,0.304392
1,2019-01-03,154.059998,152.289993,146.308685,Linde plc,Basic Materials,LIN,-0.011489,0.079167,0.402891
2,2019-01-04,153.830002,156.630005,150.478256,Linde plc,Basic Materials,LIN,0.018202,0.149583,0.238437
3,2019-01-07,155.779999,156.490005,150.343765,Linde plc,Basic Materials,LIN,0.004558,0.212921,0.398316
4,2019-01-08,156.089996,158.149994,151.938553,Linde plc,Basic Materials,LIN,0.013198,0.022998,0.143681
...,...,...,...,...,...,...,...,...,...,...
9784,2019-12-23,20.950001,21.200001,19.417809,Kinder Morgan,Energy,KMI,0.011933,0.144016,0.354293
9785,2019-12-24,21.180000,21.129999,19.353691,Kinder Morgan,Energy,KMI,-0.002361,0.141380,0.359756
9786,2019-12-26,21.190001,21.200001,19.417809,Kinder Morgan,Energy,KMI,0.000472,0.125000,0.329167
9787,2019-12-27,21.260000,21.080000,19.307896,Kinder Morgan,Energy,KMI,-0.008467,0.075000,0.410417
9788,2019-12-30,21.100000,21.030001,19.262100,Kinder Morgan,Energy,KMI,-0.003317,0.067532,0.322727

In [7]:
# load twitter scores
twitter_df = pd.read_csv('twitter_scores.csv')
twitter_df = twitter_df.drop(columns=['Unnamed: 0']).reset_index()
twitter_df

      index   twt_pol   twt_sub
0         0  0.012880  0.130118
1         1  0.040819  0.216521
2         2  0.074132  0.213505
3         3 -0.015952  0.233571
4         4  0.024318  0.192727
...     ...       ...       ...
9784   9784  0.092145  0.264810
9785   9785  0.105683  0.364879
9786   9786  0.137622  0.402566
9787   9787  0.107538  0.318737
9788   9788  0.013125  0.248125

[9789 rows x 3 columns]

In [8]:
# merge twitter scores
df_2019 = df_2019.reset_index()
df_2019 = df_2019.merge(twitter_df, on='index')
df_2019

,index,date,Open,Close,Adj Close,Company,Industry,Stock ticker,daily return,nyt_pol,nyt_sub,twt_pol,twt_sub
0,0,2019-01-02,153.529999,157.199997,151.025879,Linde plc,Basic Materials,LIN,0.023904,0.065703,0.304392,0.012880,0.130118
1,1,2019-01-03,154.059998,152.289993,146.308685,Linde plc,Basic Materials,LIN,-0.011489,0.079167,0.402891,0.040819,0.216521
2,2,2019-01-04,153.830002,156.630005,150.478256,Linde plc,Basic Materials,LIN,0.018202,0.149583,0.238437,0.074132,0.213505
3,3,2019-01-07,155.779999,156.490005,150.343765,Linde plc,Basic Materials,LIN,0.004558,0.212921,0.398316,-0.015952,0.233571
4,4,2019-01-08,156.089996,158.149994,151.938553,Linde plc,Basic Materials,LIN,0.013198,0.022998,0.143681,0.024318,0.192727
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9784,9784,2019-12-23,20.950001,21.200001,19.417809,Kinder Morgan,Energy,KMI,0.011933,0.144016,0.354293,0.092145,0.264810
9785,9785,2019-12-24,21.180000,21.129999,19.353691,Kinder Morgan,Energy,KMI,-0.002361,0.141380,0.359756,0.105683,0.364879
9786,9786,2019-12-26,21.190001,21.200001,19.417809,Kinder Morgan,Energy,KMI,0.000472,0.125000,0.329167,0.137622,0.402566
9787,9787,2019-12-27,21.260000,21.080000,19.307896,Kinder Morgan,Energy,KMI,-0.008467,0.075000,0.410417,0.107538,0.318737
9788,9788,2019-12-30,21.100000,21.030001,19.262100,Kinder Morgan,Energy,KMI,-0.003317,0.067532,0.322727,0.013125,0.248125

### Load and merge scores data from Reddit

In [9]:
# load reddit scores
reddit_df = pd.read_csv('reddit_scores.csv')
reddit_df = reddit_df.drop(columns=['Unnamed: 0']).reset_index()

In [10]:
# merge reddit scores
df_2019 = df_2019.merge(reddit_df, on='index')
df_2019 = df_2019.drop(columns=['index'])
df_2019

,date,Open,Close,Adj Close,Company,Industry,Stock ticker,daily return,nyt_pol,nyt_sub,twt_pol,twt_sub,reddit_pol,reddit_sub
0,2019-01-02,153.529999,157.199997,151.025879,Linde plc,Basic Materials,LIN,0.023904,0.065703,0.304392,0.012880,0.130118,0.0,0.0
1,2019-01-03,154.059998,152.289993,146.308685,Linde plc,Basic Materials,LIN,-0.011489,0.079167,0.402891,0.040819,0.216521,0.0,0.0
2,2019-01-04,153.830002,156.630005,150.478256,Linde plc,Basic Materials,LIN,0.018202,0.149583,0.238437,0.074132,0.213505,0.0,0.0
3,2019-01-07,155.779999,156.490005,150.343765,Linde plc,Basic Materials,LIN,0.004558,0.212921,0.398316,-0.015952,0.233571,0.0,0.0
4,2019-01-08,156.089996,158.149994,151.938553,Linde plc,Basic Materials,LIN,0.013198,0.022998,0.143681,0.024318,0.192727,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9784,2019-12-23,20.950001,21.200001,19.417809,Kinder Morgan,Energy,KMI,0.011933,0.144016,0.354293,0.092145,0.264810,0.0,0.0
9785,2019-12-24,21.180000,21.129999,19.353691,Kinder Morgan,Energy,KMI,-0.002361,0.141380,0.359756,0.105683,0.364879,0.0,0.0
9786,2019-12-26,21.190001,21.200001,19.417809,Kinder Morgan,Energy,KMI,0.000472,0.125000,0.329167,0.137622,0.402566,0.0,0.0
9787,2019-12-27,21.260000,21.080000,19.307896,Kinder Morgan,Energy,KMI,-0.008467,0.075000,0.410417,0.107538,0.318737,0.0,0.0
9788,2019-12-30,21.100000,21.030001,19.262100,Kinder Morgan,Energy,KMI,-0.003317,0.067532,0.322727,0.013125,0.248125,0.0,0.0

In [11]:
# save as CSV
df_2019.to_csv('nyt_twt_red_data.csv')