In [1]:
import requests as re
import pandas as pd
import time

In [2]:
def archives(year, month, key = '2E0ntEO9AFP3tUkfnbdyhs4h5Y2AHc0x'):
    ''' extract archive response for a given year and month from NYT from:
        https://api.nytimes.com/svc/archive/v1/
    
    Args: 
        year (int): integer representing year
        month (int): integer representing months from 1-12
        key (str): API access key
    
    Returns: 
        response.json(): a json response for all articles in a given year and month    
    '''
    link = f"https://api.nytimes.com/svc/archive/v1/{year}/{month}.json?api-key={key}"
    headers = {"Accept": "application/json"}
    response = re.get(link, headers=headers)    
    
    # NYT API requires sleeping for 6 seconds between each call
    time.sleep(6)
    
    return response.json()

In [3]:
def news_df(years, months):
    ''' Extract business news headlines, abstract and date for a given year and month
    
    Args: 
        years (list): list of years used for this project 2015-2019
        months (list): list of months from 1-12
    
    Returns: 
        news_df (pd.DataFrame): dataframe with business news headlines, abstract and dates from 2015-2019 
    '''
    news_list = []
    
    for year in years:
        for month in months:
            archive = archives(year, month)

            for article in archive['response']['docs']:
                if (article['section_name'] == 'Business Day'):
                    news_list.append({'headline':article['headline']['main'],
                                      'abstract':article['abstract'],
                                      'date': article['pub_date']})

    news_df = pd.DataFrame(news_list)    

    return news_df

In [4]:
months = list(range(1,13))
years = list(range(2015,2020))
df_news = news_df(years, months)

In [5]:
df_news.head()

,headline,abstract,date
0,A Guide to Minimum Wage Increases at the State...,"By Jan. 1, 29 states and the District of Colum...",2015-01-01T01:45:03+0000
1,"States’ Minimum Wages Rise, Helping Millions o...",Minimum wage increases go into effect in 20 st...,2015-01-01T01:45:10+0000
2,"Government Spending, Edging Up, Is a Stimulus",State and local governments are spending on pr...,2015-01-01T18:16:34+0000
3,Digital Tax Increase to Take Effect in Europe,New rules are coming into force for services l...,2015-01-01T18:22:47+0000
4,"By ‘Editing’ Plant Genes, Companies Avoid Regu...",Critics of bioengineered crops are concerned t...,2015-01-01T23:02:04+0000

In [7]:
df_news.to_csv('news.csv')